<div class="container">
<p><i class="fa fa-calendar fa-1x" aria-hidden="true"></i> Née le 4 / 12 / 1985 <br>
<i class="fa fa-map-marker fa-1x" aria-hidden="true"></i> Cannes, French Riviera<br><br>
<a href="mailto:macha@chillcoding.com" class="teal-text text-accent-3" ><i class="fa fa-envelope fa-1x" aria-hidden="true"></i> macha@chillcoding.com</a><br><br>
<a href="tel:+33786260601" class="teal-text text-accent-3"><i class="fa fa-phone fa-1x" aria-hidden="true"></i> +33 7 86 26 06 01</a><br></p>
<div class="divider"></div>
<p class="center-align">
<a class="teal-text text-accent-3" href="https://fr.linkedin.com/in/machadacosta" target="_blank" rel="noopener" alt="Voir le profil LinkedIn de Macha DA COSTA"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
<a class="teal-text text-accent-3" href="https://www.viadeo.com/fr/profile/macha.da-costa" target="_blank" rel="noopener" alt="Voir le profil Viadéo de Macha DA COSTA"><i class="fa fa-viadeo-square fa-2x" aria-hidden="true"></i></a>
<a class="teal-text text-accent-3" href="https://twitter.com/MachaDaCosta" target="_blank" rel="noopener" alt="Voir le profil Twitter de Macha DA COSTA" ><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
<a class="teal-text text-accent-3" href="https://www.facebook.com/chillcoding" target="_blank" rel="noopener" alt="page fb de macha da"><i class="fa fa-facebook-sqaure fa-2x" aria-hidden="true"></i></a><a class="teal-text text-accent-3" href="https://github.com/machadacosta" target="_blank" rel="noopener" alt="page github macha da costa" ><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></p>
 </div>
