<div class="container">
<p class="center-align"><img src="./images/macha.png" class="circle responsive-img"></img></p>
<h5>Formation et Développement en Technologie Mobile</h5>
<p style="text-align:justify">Passionnée par les technologies mobiles, je conçoie, développe et publie des applications pour smartphone, tablette et smartwatch.<br>
Forte d’une expérience de sept ans en développement natif Android et d'un an en développement multiplateforme, j’accompagne mes clients dans leurs projets mobiles. En parallèle, je réalise des vacations à l’Université de Nice-Sophia Antipolis dans ces domaines.
De plus, mon expertise dans la publication d’applications me permet d’optimiser leur référencement dans les catalogues d'applications en ligne.</p>

<h5>Curriculm Vitae</h5>
<h5 class="text-blue"><i class="fa fa-graduation-cap fa-1x" aria-hidden="true"></i> Formations</h5>
<div class="divider"></div>
<p><span class="grey-text text-darken-3"><b>Université de Nice Sophia-Antipolis</b></span>  <span class="grey-text text-lighten-2">|</span> <span class="grey-text text-darken-3">2004 - 2010 </span><br>
École Polytech'Nice : Ingénieur en Informatique, Spécialité Interface Homme Machine (IHM)</p>
<p><span class="grey-text text-darken-3"><b>Lycée Hugues Capet, à Senlis (60)</b></span>  <span class="grey-text text-lighten-2">|</span> <span class="grey-text text-darken-3">2004 </span><br>
Baccalauréat scientifique : Spécialité mathématiques, mention bien</p>

<h5 class="text-green"><i class="fa fa-mobile fa-1x" aria-hidden="true"></i> Compétences</h5>
<div class="divider"></div>
<p><span class="grey-text text-darken-3"><b>Développement Mobile</b><br>
Java/Android, Multiplateforme avec Ionic, Application Web Progressive</p>
<p><span class="grey-text text-darken-3"><b>Développement Web</b><br>
PHP, HTML, CSS, JavaScript, CMS Wordpress, MySQL, Web Service, JSON</p>
<p><span class="grey-text text-darken-3"><b>Outils</b><br>
Mac, Android Studio, Xcode, Gestionnaire de versions GIT, Gimp, Latex</p>
<p><span class="grey-text text-darken-3"><b>Langues</b><br>
Anglais (Capacité professionnelle complète), Espagnol (Notions), Portugais (Notions)</p>

<h5 class="text-orange"><i class="fa fa-briefcase fa-1x" aria-hidden="true"></i> Expériences</h5>
<div class="divider"></div>
<p><span class="grey-text text-darken-3"><b>Université de Nice Sophia-Antipolis</b> <span class="grey-text text-lighten-2">|</span> <span class="grey-text text-darken-3">2010 - 2017 </span><br>
Cours, TP de Programmation Android en Licence Pro (création des supports).<br>
Cours, TP de Technologie Mobile en Licence Pro (création des supports).<br>
Cours, TP de Base de Données Client en Licence Pro (création des supports).<br>
TP de Java (aide à l’apprentissage des principaux concepts tel que l’héritage, le polymorphisme, les interfaces…).</p>
<p><span class="grey-text text-darken-3"><b>Vidéos de Formation</b> <span class="grey-text text-lighten-2">|</span> <span class="grey-text text-darken-3">2016 </span><br>
Réalisation de vidéos de formation en collaboration avec les Éditions ENI : <br>
<a href="https://www.editions-eni.fr/video/android-les-fondamentaux-du-developpement-d-applications-java-vtand">Vidéo Android Les fondamentaux du développement d'applications Java</a><br>
<a href="https://www.editions-eni.fr/video/android-creation-d-une-interface-simple-pour-une-application-mobile-en-java-vtandis">Vidéo Android Création d'une interface simple pour une application mobile en Java</a><br>
<a href="https://www.editions-eni.fr/video/android-7-les-nouveautes-vtn7and">Vidéo Android Les nouveautés Android 7 Nougat</a></p>
<p><span class="grey-text text-darken-3"><b>Développement Web
</b> <span class="grey-text text-lighten-2">|</span> <span class="grey-text text-darken-3">2016 </span><br>
Refonte du <a href="https://www.kapsys.com/">site de KAPSYS</a>, société spécialisée dans les solutions de mobilité : <br>
Site accessible sur mobile et ordinateur pour personne non-voyante et malvoyante</a></p>
<p><span class="grey-text text-darken-3"><b>Développement Android
</b> <span class="grey-text text-lighten-2">|</span> <span class="grey-text text-darken-3">2014 - 2016 </span><br>
Application sur le Suivi de la Fréquence Cardiaque (FC) : <br>
<a>BaChamada</a> sur PlayStore (Bachamada & Bachamada Wear) <br>
Le concept est de prendre des mesures ponctuels de son pouls (manuellement ou avec la smartwatch), d’avoir des indications sur la valeur de sa FC et de voir des Zones de FC adaptées à son profil. Ces dernières indiquent la FC à maintenir, ne pas dépasser, selon l’activité sportive pratiquée (footing, speed-burning, marathon, …).<br>
Elle a été réalisée selon un processus centré sur l’expérience de l’utilisateur, en 3 étapes : analyse (contexte, état de l’art, scénarios, arbre de tâches), conception (développement d’un POC) et évaluation (tests utilisateurs qualitatifs).<br>
Mots clés : Outil de version GIT, animations graphiques, BDD local, Shared Preferences, Intégration de publicités, Android Wear, Publication Play Store, App Store Optimization, App Indexing.<br>
<br>
Application tablette d’Inscription à une Newsletter : <br>
Développement d’une application privée, elle est accessible depuis le comptoir d’un commerce. Elle permet de s’inscrire aux nouvelles et offres promotionnelles, ceci en entrant ses informations (email, téléphone, nom, etc.), à travers un formulaire. Les données ainsi récupérées constituent un portefeuille client. Ce dernier est utilisé pour faire de l’emailing ciblé.<br>
Mots clés : GIT, MailChimp, Requête HTTP POST avec Retrofit, Intégration de Charte graphique.<br>
<br>
Application smartphone de Football :
Développement d'une application en équipe, à destination des coachs de football. En liens avec l'application web existante, elle permet de gérer des équipes, d'enregistrer un match, d'assister un entrainement, de voir des statistiques.
Mots clés : GIT, Méthodes agiles, Adaptation design iOS vers Android, Publication PlayStore, BDD Realm, Design Natif, Intégration de plusieurs langues et optimisation pour cross platform (android & iOS)<br>
<br>
Application tablette d’une Opération Commerciale :<br>
Développement d'une application privée, pour l'opération commercial, d'une prestigieuse marque de carte bancaire, durant le festival de Cannes. Un jeu concours était proposé à l’utilisateur, après tirage au sort, il pouvait gagner un lot puis se faire prendre en photo et la partager sur Facebook.<br>
Mots clés : Intégration de vidéo d'animation, Communication HTTP serveur distant, Prise de Photo, Partage Facebook, Respect du design maquette.<br>
</p>
<p><span class="grey-text text-darken-3"><b>Ingénieur R&D au CNRS, labo I3S
</b> <span class="grey-text text-lighten-2">|</span> <span class="grey-text text-darken-3">2010 - 2013</span><br>
Projet de recherche en collaboration avec différentes entités : <br>
Gestion d’une plateforme Web de Visualisations adaptées aux Données (nature et type). Elle est construite à partir de classes PHP, décrivant la structure des données, et de fichiers JavaScript, implémentant des visualisations. Bootstrap est utilisé pour l’agencement des diverses visualisations. L’intérêt réside dans l’automatisation de la visualisation d’un jeu de données (Coordonnées GPS dans une carte, vitesse et altitude dans des graphiques, …) et dans la corrélation des informations (telle vitesse à telles coordonnées GPS et à telle altitude…).<br>
Encadrement de projets avec la méthode AGILE sur des groupes de 3 à 4 étudiants pour faire évoluer la plateforme Web.<br>
Applications Android de démonstration pour smartphone et tablette sur le suivi de patient, en collaboration avec le milieu médical. D’une part, une app. devait permettre au spécialiste de l’implant cochléaire d’effectuer des réglages, sans mettre en danger/endommager les nerfs auditifs du patient. Ces réglages concernent une  vingtaine d’électrodes (intensité, fréquences, homogénéité des paramètres). D’autre part, une app. devait permettre la gestion d’un implant cardiaque et l’analyse des données collectés relatives à l’activité du patient (accéléromètre et activité électrique du coeur).<br>
Collaboration avec des spécialistes de la sécurité pour crypter les données sur les app. mobiles. Il s’agissait de comprendre les diverses méthodes de sécurisation, de choisir ensemble les plus appropriés par rapport au contexte, ainsi que d’implémenter les solutions retenues grâce aux librairies et à la documentation fournies.</p>
<p><span class="grey-text text-darken-3"><b>Stage Ingénieur à Prim’Vision
</b> <span class="grey-text text-lighten-2">|</span> <span class="grey-text text-darken-3">2010 </span><br>
Conception, Développement et Évaluation de l’interface d’une application d’annonces publicitaires. Technologies : Java, Android, Php</p>
<p><span class="grey-text text-darken-3"><b>Stage Ingénieur à Grooviz
</b> <span class="grey-text text-lighten-2">|</span> <span class="grey-text text-darken-3">2008 </span><br>
Refonte du site web de l’entreprise. Technologies : Php, Html, MySQL</p>

<h5 class="text-yellow"><i class="fa fa-soccer-ball-o fa-1x" aria-hidden="true"></i> Centres d'Intérêts</h5>
<div class="divider"></div>
<p>
  <ul>
    <li>Blog à l’attention des utilisateurs néophytes sur la technologie Android
      <a href="https://www.chillcoding.com/blog">www.chillcoding.com/blog</a>.
    </li>
    <li>Conférence sur Android : DroidCon Italie 2016</li>
    <li>Présentation à la Riviera Dev 2017 : <a href="https://2017.rivieradev.fr/session/114">De l'application mobile à l'application web progressive</a></li>
    <li>Loisirs : Plongée apnée, Course à pied, Capoeira, Bass</li>
  </ul>
</p>
